
h1 {
  color: #e2e2e2;
  border: solid 1px #32d400;
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
}

h2 {
  border-bottom: solid 1px #32d400;
  font-family: sans-serif;
  font-size: 18px;
  color: #e2e2e2;
}

p {
  margin: 10px 10px 10px 10px;
  font-family: sans-serif;
  font-size: 12px;
  color: #e2e2e2;
}

.text_all {
  border: solid 1px #32d400;
  padding: 2px;
  margin: 35px;
}

button {
  color: #e2e2e2;
  margin-left: 5px;
  margin-bottom: 5px;
  background: #32d400;
  border-style: none;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 2px 2px 2px 1px #207c04;
}

button:hover {
  background-color: #207c04;
}

body{
  background: #111111;
}

a{
  color: #e2e2e2;
  text-decoration: none;
  border: solid 1px #32d400;
  padding: 4px;
}

a:hover {
  background-color: #207c04;
}
